<ion-header>
    <ion-toolbar text-center>
        <ion-buttons slot="primary">
            <ion-button type="button" name="close" class="ion-close-center" size="large" (click)="confirmCancelImage()">
                <ion-icon name="close" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <ion-label class="label-text viewedit-title" position="stacked" >Edit Photo</ion-label>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-input type="text" hidden ng-show="false" [(ngModel)]="photo.serviceid" name="serviceid"
               value="{{serviceid}}"></ion-input>
    <ion-input type="text" hidden ng-show="false" [(ngModel)]="photo.columnname" name="columnname"
               value="{{columnname}}"></ion-input>
    <img class="img-load" #img src="{{base64Image}}" (load)="updateCanvas($event)"/>
    <div class="ion-canvas">
        <canvas id='canvas'></canvas>
    </div>
    <div class="btn-selection-draw">
        <div *ngFor="let btn of btnList"
                (click)="drawBtnSelect(btn.name)"
                [ngClass]="elementSelected === btn.name ? 'primary' : 'secondary'">

            <ion-icon *ngIf="btn.name !== 'text' && btn.name !== 'search'" name="{{btn.class}}"></ion-icon>
            <svg *ngIf="btn.name == 'search'" style="vertical-align: middle;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="font"
                    class="svg-inline--fa fa-search-plus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                <path fill="currentColor"
                        d="M312 196v24c0 6.6-5.4 12-12 12h-68v68c0 6.6-5.4 12-12 12h-24c-6.6 0-12-5.4-12-12v-68h-68c-6.6 0-12-5.4-12-12v-24c0-6.6 5.4-12 12-12h68v-68c0-6.6 5.4-12 12-12h24c6.6 0 12 5.4 12 12v68h68c6.6 0 12 5.4 12 12zm196.5 289.9l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L347.5 387.1c-2.3-2.3-3.5-5.3-3.5-8.5v-13.2c-36.5 31.5-84 50.6-136 50.6C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 52-19.1 99.5-50.6 136h13.2c3.2 0 6.2 1.3 8.5 3.5l121.4 121.4c4.7 4.7 4.7 12.3 0 17zM368 208c0-88.4-71.6-160-160-160S48 119.6 48 208s71.6 160 160 160 160-71.6 160-160z"/>
            </svg>
            <svg *ngIf="btn.name == 'text'" style="vertical-align: middle;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="font"
                    class="svg-inline--fa fa-font fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                <path fill="currentColor"
                        d="M432 416h-23.41L277.88 53.69A32 32 0 0 0 247.58 32h-47.16a32 32 0 0 0-30.3 21.69L39.41 416H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16h-19.58l23.3-64h152.56l23.3 64H304a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zM176.85 272L224 142.51 271.15 272z"></path>
            </svg>
        </div>
    </div>

    <ion-item [ngClass]=" elementSelected === 'rotate' ? '' : 'range-display'">
        <ion-range min="0" max="360" step="5" snaps="true" ticks="false" color="secondary"
                   (ionChange)="rotateImage($event)"></ion-range>
    </ion-item>
    <ion-input style="display:none" type="text" ng-show="false" [(ngModel)]="photo.base64Image" name="base64Image"
               value="{{base64Image}}"></ion-input>

    <ion-card>
        <div *ngIf="is_delete === true">
            <ion-card-header>
                <ion-card-subtitle style="text-align: center;">
                    <ion-label position="stacked">{{fileName}}</ion-label>
                </ion-card-subtitle>
            </ion-card-header>
        </div>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                <ion-label position="stacked">Image Description</ion-label>
            </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-input type="text" oninput="" size="100" required="" [(ngModel)]="photo.title" name="notecontent"
                       class="title-input" placeholder="Enter a description..."></ion-input>
        </ion-card-content>
    </ion-card>

    <div class="button-grouping ion-padding">
        <ion-button (click)="uploadImage(photo,false)" size="large" expand="block" color="primary" type="submit">
            <ion-text>Save</ion-text>
        </ion-button>
        <ion-button (click)="confirmCancelImage(photo)" size="large" expand="block" color="primary" type="submit">
            <ion-text>Cancel</ion-text>
        </ion-button>
        <ion-button *ngIf="is_delete === true && imgCategory != 'ConDoc' " (click)="confirmDeleteImage(photo)" size="large" expand="block"
                    color="danger" type="submit">
            <ion-text>Delete</ion-text>
        </ion-button>
    </div>
</ion-content>