<ion-header>
    <ion-toolbar text-center>
        <ion-title>Reason(s) for Delay</ion-title>
        <ion-icon name="close" (click)="closeModal()" size="large" style="float: right;"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Enter Reason(s) for Delay <span style="color:red">*</span></ion-label>
        <ion-select multiple="true" [value]="" (ionChange)="sowdelayreason($event)">
          <ion-select-option value="Material delivery">Material delivery</ion-select-option>
          <ion-select-option value="Material incomplete or broken">Material incomplete or broken</ion-select-option>
          <ion-select-option value="Equipment missing">Equipment missing</ion-select-option>
          <ion-select-option value="Crew incomplete">Crew incomplete</ion-select-option>
          <ion-select-option value="Third party delay/no show up">Third party delay/no show up</ion-select-option>
          <ion-select-option value="Weather">Weather</ion-select-option>
          <ion-select-option value="Emergency">Emergency</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Reason Note:</ion-label>
        <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..." (ionChange)="sowdelayreasonnote($event)"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button (click)="savedelayReason()" expand="block" color="primary" type="submit">
        <ion-text>Save</ion-text>
    </ion-button>
</ion-content>
