.checklist-helper{
  cursor: pointer;
  font-size: 1.5em;
}

.checklist-thumb-list{
  display: inline-block;
  .dropdown-arrow {
    background: #2759B3;
    color: #ffffff;
    width: 100%;
    padding: .4em .5em;
    position: relative;
    font-size: .9em;
    border-radius: 5px;

    item-icon {
      position: absolute;
      right: .5em;
    }
  }
}

.checklist-thumb{
  font-size: 3rem;
  width: 55px;
  height: 75px;
  margin-right: 5px;
}

.checklist-thumb img{
  border-radius: 5px;
}

.hide{
  display: none;
}



.item-inner {
  position: relative;

}

.camera-holder {
  position: absolute;
  right: 0;
}

.photo-icon {
  border: 1px solid;
  border-radius: .5em;
  padding: .5em;
  background:#23954b;
  color: #ffffff;

  ion-icon {
    margin: auto;
    font-size: 2em;
    width: 100%;
  }

  ion-text {
    font-size: 0.7em;
  }
}



ion-list {
  ion-label {
    white-space: break-spaces;
    width: 100%;
    max-width: 100% !important;
    min-height: 16px;

  }
  ion-text {
    width: 100%;
    display: block;

    &.helper-text-box{
      font-size: 14px;
      color: #606060;
      border-top: 1px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb;
    }
  }

  ion-text.short-description {
    font-size: 12px
  }
  ion-textarea {
    border: 1px solid;
    border-radius: .5em;
    padding: 0 .5em;
    font-size: .8em;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    flex-wrap:wrap;
  }

}

ion-content {
  ion-list {
    padding: 10px;
    margin-bottom: 0px;
  }
  .close-btn {
    border: 1px solid;
    width: 80%;
    margin: auto;
    bottom: .5em;
    left: 0;
    right: 0;
    text-align: center;
    padding: .3em;
    border-radius: .3em;
    font-weight: 600;
    background: #23954b;
    color: #ffffff;
  }
  .picklist-drowpdown {
    width: 100%;
    border: 1px solid;
    border-radius: 1em;
    margin: .5em 0px;
    ion-select {
      max-width: 100%;
    }
  }
  .checkbox-group {
    display: flex;
    border: 1px solid #767676;
    border-radius: 10px;
    overflow: hidden;

    ion-item:first-child {
      border-right: 1px solid #767676;
    }
  }
}

form {
  margin: 0 0 2em !important;
}

.img-section-display {
  width: 100%;
  ul {
    width: 100%;
    li {
      width: 100%;

      ion-thumbnail {
        div {
          margin-right: 5px;
        }
      }

      .item-accordion {
        display: none;

        &.active-tab {
          display: block;
          margin-top: 1em;
        }
      }
      &.btn-new-subsection {
        border: 1px solid;
        border-radius: 5px;
        text-align: center;
        padding: 5px 0;
        background: #23954b;
        color: #ffffff;
      }
    }
  }

  .button-native {
    background: #23954b;
    color: #ffffff;
  }
}
.item-background-color{
  --ion-item-background: #f1f1f1;
  border: 1px solid #767676;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  margin-bottom: 25px;
}
.disabled-field{
  pointer-events: none;
  display: none;
}
.ion-item-nopadding{
  --padding-start: 0px;
  --inner-padding-end: 0px;
}