<ion-header>
    <ion-toolbar text-center>
        <ion-buttons slot="primary">
            <ion-button type="button" name="close" class="ion-close-center" size="large" (click)="closeModal()">
                <ion-icon name="close" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{modalTitle}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-item style="font-size: 13px;padding-right: 16px;">
        <ion-checkbox style="width: 14px;height: 14px;" checked="{{picCompleted}}"  (ionChange)="addPicCompleted($event)"></ion-checkbox>
        <ion-label>&nbsp;Mark {{modalTitle}} Section As Complete</ion-label>
    </ion-item>

    <form #form="ngForm" class="ion-padding"  (ngSubmit)="completeOrder(serviceid)">
            <ion-item-group class="item-background-color" *ngFor="let service of servicedetail; let key=index">
                <ion-list *ngIf="service.img.type != 'Sub-Sections' && service.img.type != 'Section' && service.img.type != 'Photos'" lines="none" >
                    <ion-label position="stacked" style="font-size: 17.5px;display: flex;align-items: center;">
                        {{service.fieldlabel}}&nbsp;&nbsp;
                        <ion-icon name="help-circle-outline" size="medium" (click)="toggleHelper(service.columnname)" class="checklist-helper" *ngIf="service.helpinfo.long != ''"></ion-icon>
                    </ion-label>
                    <ion-text *ngIf="service.helpinfo.short != '' " style="display: inline-flex;" class = "short-description">&#8226; <ion-text>{{service.helpinfo.short}}</ion-text></ion-text>
                </ion-list>
                <ion-list lines="none" *ngIf="service.helpinfo.long != '' && checklisthelper[service.columnname] == 1">
                    <ion-item *ngFor="let line of service.helpinfo.long.split('\n')" class="ion-no-padding">
                        <iframe *ngIf="line.indexOf('video:') > -1" width="100%" height="300px" [src]="urlSanitize(line.replace('video:',''))" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                        <img *ngIf="line.indexOf('img:') > -1" [src] = "urlSanitize(line.replace('img:',''))" style = "max-width: 100%;max-height: 200px; margin: 1em auto;">
                        <ion-text class="helper-text-box" *ngIf= " !(line.indexOf('video:') > -1 || line.indexOf('img:') > -1)">{{line}} </ion-text>
                    </ion-item>
                </ion-list>
                <ion-item lines="none" class="ion-item-nopadding">
                    <ion-textarea style="margin: 10px;" *ngIf="service.img.type == 'Text' || service.img == false"  (ionBlur)="addUpdate($event)" name = "{{service.columnname}}" value = "{{service.notes}}" placeholder="Press Here To Type"></ion-textarea>
                    <ion-card style="margin: 10px;" *ngIf="service.img.type == 'Checkbox'" style="border-radius: 10px;" lines="none">
                        <ion-radio-group lines="none" class = "checkbox-group" (ionBlur)="addUpdate($event)"  value="{{service.picklist}}">
                            <ion-item lines="none">
                                <ion-label>Yes</ion-label>
                                <ion-radio name = "{{service.columnname}}" value="Yes"></ion-radio>
                            </ion-item>

                            <ion-item lines="none">
                                <ion-label>No</ion-label>
                                <ion-radio name = "{{service.columnname}}" value="No"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </ion-card>

                    <div style="margin: 10px;" class = "picklist-drowpdown"  *ngIf="service.img.type == 'Picklist'" lines="none">
                        <ion-select lines="none" (ionChange)="addUpdate($event)" name = "{{service.columnname}}" value="{{service.picklist}}">
                            <ion-select-option value="">Choose An Option</ion-select-option>
                            <div *ngFor="let picklist of service.img.picklist.split(',')">
                                <ion-select-option *ngIf="picklist != ''">{{picklist}}</ion-select-option>
                            </div>
                        </ion-select>
                    </div>

                    <ion-list class = "img-section-display" lines="none"  *ngIf="service.img== true || (service.img.type !== undefined && service.img.type.indexOf('Section') > -1 || service.img.type == 'Photos') || service.img.type == 'undefined'">
                        <ul>
                            <li *ngFor="let thumb of service.images; let _index=index" class="checklist-thumb-list">
                                <ion-item class="ion-item-nopadding" (click)="toggleGroup(_index,key)">
                                    <div class = "dropdown-arrow" style="display: flex;align-items: center;">
                                        <ion-icon name="image" size="small" style="padding-right: 5px;vertical-align: middle;" *ngIf="thumb.length > 0 "></ion-icon>
                                        <ion-text>{{service.fieldlabel}} <span *ngIf="service.img.type == 'Sub-Sections'">#{{_index+1}}</span></ion-text>

                                        <svg *ngIf="!(subSection === _index && sectionKey === key)" style="margin-left: auto;float: right;" slot="end" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                        <svg *ngIf="(subSection === _index && sectionKey === key)" style="margin-left: auto;float: right;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </div>
                                </ion-item>
                                <ion-item class="item-accordion ion-item-nopadding"
                                    [ngClass]="subSection === _index && sectionKey === key ? 'active-tab' : ''">

                                    <ion-row>
                                        <ion-col *ngFor="let _img of thumb" class="col-6 col-md-4 col-xl-3">
                                            <ion-thumbnail  class="checklist-thumb" (click)="openSliderModal(_img,thumb)"> <img src="{{this.apiurl.replace('phoneapi/','')}}{{_img.imgpath}}"> </ion-thumbnail>
                                        </ion-col>
                                        <ion-col class="col-6 col-md-4 col-xl-3" style="display: inline-flex;align-items: center;">
                                            <ion-button style="height: 40px;width: 60px;" type="button" class="add-image" color="secondary" (click)="openActionSheet(service.columnname, _index)">
                                                <ion-icon style="padding: 0px;" size="large" name="add" ></ion-icon>
                                                <ion-icon style="padding: 0px;" size="large" name="camera" ></ion-icon>
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-item>
                            </li>
                            <li class = "btn-new-subsection" (click)="addSubsection(key)" *ngIf="service.img.type == 'Sub-Sections'">
                                Add another {{service.fieldlabel}}?
                            </li>
                        </ul>
                    </ion-list>
                </ion-item>
            </ion-item-group>
    </form>
    <div class = "close-btn" (click)="closeModal()">Done</div>
</ion-content>
